@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  align-items: center;
  width: 650px;
  border-radius: 25px;
}

#drum-container {
  margin: 50px;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  background: #7c5202;
  padding: 25px;
  border-radius: 20px;
}

.drum-pad {
  width: 200px;
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.6) inset, 2px 2px 3px grey;
  font-size: 30px;
}

#display {
  background: white;
  width: 160px;
  padding: 15px;
  border-radius: 20px;

  font-size: 20px;
}
